---
import Layout from '../layouts/Layout.astro';
import NavigationAstro from '../../src/components/NavigationAstro';
import CareersHero from '../../src/components/CareersHero';
import JobListings from '../../src/components/JobListings';
import CompanyCulture from '../../src/components/CompanyCulture';
import CareersPerks from '../../src/components/CareersPerks';
import ApplicationProcess from '../../src/components/ApplicationProcess';
import Footer from '../../src/components/Footer';
---

<Layout 
  title="Careers - Desktop Commander"
  description="Join us in building the future of developer automation"
>
  <div class="min-h-screen bg-background">
    <NavigationAstro client:load />
    <main>
      <CareersHero client:visible />
      <JobListings client:visible />
      <CompanyCulture client:visible />
      <CareersPerks client:visible />
      <ApplicationProcess client:visible />
    </main>
    <Footer client:visible />
  </div>
</Layout>

<style is:global>
  @import '../../src/index.css';
</style>
